*{
    margin: 0%;
    padding: 0%;
}
main{
    width: 100%;
    display: grid;
    grid-template-rows: 80px 40px 500px 1000px 60px;
    grid-template-columns: 87% 13%;
}
.heading{
    background-color: red;
    grid-column: 1/-1;
}
#heading-title{
    background-color: yellow;
    grid-column: 1/2;
}
.left-side{
    background-color: blue;
    grid-column: 1/2;
}
.right-side{
    background-color: bisque;
    grid-column: 2/3;
    grid-row: 2/-1;
}
footer{
    grid-column: 1/-1;
    background-color: aqua;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.image img{
    width: 500px;
    height: auto;
    margin: 10px 30px 10px 500px;

}