@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
i.fab {
  color: #888;
  font-size: 1.5rem;
  transition: all 0.5s ease-out;
}
i.fab:hover,
i.fab:active {
  color: #fbd34c;
  cursor: pointer;
}
.fa-star {
  color: #fbd34c;
}
