@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "../../utilities/variables";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  background-color: $color-black;
  color: white;
  // font-family: 'Chango', cursive;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

.nav-link:link,
.nav-link:visited{
  font-size: 125%;
  margin: 0 15px ;
  color: $color-yellow-shade !important;
  transition: all 0.6s;
}
.nav-link:hover,
.nav-link:active{
  color: #f7f7f7 !important;
  transform: scale(0.95);
}

.nav-link:last-child:link,
.nav-link:last-child:visited{
  border: 2px solid $color-pink-shade !important;
  border-radius: 150px;
  color: #fff !important;
  transition: all 1s;
}
.nav-link:last-child:hover,
.nav-link:last-child:active{
  background-color: $color-pink-shade;
}