@import "../../utilities/variables";

@media only screen and (min-width: 950px) {
  .section-header {
    padding: 0 200px;
  }
  .main-content {
    margin-top: 150px;
    text-transform: capitalize;
    font-family: "Coustard", serif;
  }
}
.welcome-text {
  letter-spacing: 3.5px;
  font-size: 75px;
  color: $color-yellow-shade;
  // background: -webkit-linear-gradient(50deg, $color-yellow-shade, $color-blue);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
.welcome-text img {
  height: 75px;
  margin-top: -60px;
}

.text-box {
  width: 90%;
}
.heading-text {
  line-height: 125%;
  font-size: 45px;
  letter-spacing: 3px;
  word-wrap: break-word;
}
.heading-text span a {
  text-decoration: none;
  transition: color 1s;
}
.heading-text span a:hover,
.heading-text span a:active {
  color: $color-yellow-shade;
}
.view-more {
  margin-top: 55px;
}
.view-more a:link,
.view-more a:visited {
  font-size: 25px;
  letter-spacing: 1.75px;
  text-decoration: none;
  transition: all 1s;
}
.view-more a:hover,
.view-more a:active {
  text-decoration: none;
  margin-left: 5px;
  font-size: 24px;
  color: $color-yellow-shade;
}
