* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  overflow-x: hidden;
}

